streamlit
scikit-learn
tweepy
requests
nltk
wordcloud
matplotlib
urllib3
torch
python-dotenv
pillow
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@0d824ab77334ed4ab6250e5e491171afeccfb298
transformers